body {
	background-image: linear-gradient(to bottom right, #f1ede8, #cdc0b1);
	background-size: 100% 100%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

h1 {
	color: #2b2b2b;
	font-family: 'Arvo', serif;
	font-family: 'Heebo', sans-serif;
	font-size: 60px;
	padding-left: 10px;
}

#links-container {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Arvo', serif;
	font-family: 'Heebo', sans-serif;
	
}

#input-text {
	color: #2b2b2b;
	font-family: 'Heebo', sans-serif;
}

#input-div {
	margin-left: 20px;
	margin-bottom: 40px;
	position: absolute; 
	bottom: 0;
}


.link {
	margin: 10px;
	padding: 10px;
	background-color: #c9beb9;
	border-radius: 5px;
	font-family: 'Heebo', sans-serif;

}

.link a {
	display: flex;
	align-items: center;
	color: #2b2b2b;
	text-decoration: none;
	font-family: 'Heebo', sans-serif;
}

.link img {
	height: 30px;
	margin-right: 10px;
}
