*::-webkit-scrollbar{
    display: none;
  }

*{
	font-family: 'Heebo', sans-serif;
}

#categories-container {
  	display: flex;
  	flex-direction: row;
}

.link {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color: var(--color-text);
  font-family: 'Heebo', sans-serif;
  border: 3px solid #122509;
  box-shadow: 0.1em 0.1em;
  border-radius: 10px;
  background-color: var(--color-secondary);
  min-width: 220px;
  min-height: 120px;
}

.link:hover {
	transform: translate(-0.05em, -0.05em);
	box-shadow: 0.15em 0.15em;
  }

.link >a >img {
	margin-right: 10px;
}

body {
	font-family: 'Heebo', sans-serif;
	background-color: var(--color-background);
	animation: gradient 15s ease infinite;
	height: 100%;
	overflow-y: hidden;
}
html {
	height: 100%;
  }

h1 {
	color: var(--color-text);
	font-family: 'Heebo', sans-serif;
	font-size: 60px;
	padding-left: 10px;
	margin: 10px;
}

h2 {
	color: var(--color-text);
	font-family: 'Heebo', sans-serif;
	font-size: 40px;
	padding-left: 10px;
}

a {
	font-weight: 900;
}

#links-container {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Heebo', sans-serif;
	
}

#input-text {
	color: var(--color-text);
	font-family: 'Heebo', sans-serif;
}

#input-div {
	margin-left: 20px;
	/* margin-bottom: 40px; */
	position: sticky; 
	bottom: 18px;
	padding: 20px;
	background: var(--color-primary);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	border: 3px solid black;
	box-shadow: 0.1em 0.1em;
	border-radius: 10px;
	position: fixed;
	top: 90px;
	right: 20px;
}

#setting-div {
	top: 20px;
	bottom: 20px;
	right: 19px;
	background: var(--color-secondary);
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	border: 3px solid black;
	box-shadow: 0.1em 0.1em;
	border-radius: 10px;
	position: fixed;
	width: 400px;
	overflow-y: scroll;
	display: flex;
	align-items: center;
}

.link a {
	display: flex;
	align-items: center;
	color: var(--color-text);
	font-family: 'Heebo', sans-serif;
}

	.link img {
	height: 25px;
}

  #expand-button {
	position: fixed;
	background: var(--color-primary);
	font-family: inherit;
	padding: 0.6em 1.3em;
	font-weight: 900;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 0.1em 0.1em;
  }

  #setting-button {
	position: fixed;
	background: var(--color-primary);
	font-family: inherit;
	padding: 0.6em 1.3em;
	font-weight: 900;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 0.1em 0.1em;
  }

  #setting-close {
	margin-bottom: 10px;
  }
  
  #expand-button:hover,  #setting-button:hover{
	transform: translate(-0.05em, -0.05em);
	box-shadow: 0.15em 0.15em;
  }
  
  #expand-button:active,  #setting-button:active {
	transform: translate(0.05em, 0.05em);
	box-shadow: 0.05em 0.05em;
  }
  
  #close-button {
	display: block;
	margin-bottom: 10px;
  }

  .input-container {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
  }
  
  .input {
	padding: 10px;
	height: 4px;
	width: 180px;
	border: 2px solid #2b2b2b;
	border-top: none;
	border-bottom: none;
	font-size: 16px;
	background: transparent;
	outline: none;
	box-shadow: 7px 7px 0px 0px #2b2b2b;
	transition: all 0.5s;
  }
  
  .input:focus {
	box-shadow: none;
	transition: all 0.5s;
  }
  
  .label {
	position: absolute;
	top: 10px;
	left: 10px;
	color: var(--color-text);
	transition: all 0.5s;
	transform: scale(0);
	z-index: -1;
  }
  
  .input-container .topline {
	position: absolute;
	content: "";
	background-color: var(--color-secondary);
	width: 0%;
	height: 2px;
	right: 0;
	top: 0;
	transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .topline {
	width: 35%;
	transition: all 0.5s;
  }
  
  .input-container .underline {
	position: absolute;
	content: "";
	background-color: var(--color-text);
	width: 0%;
	height: 2px;
	right: 0;
	bottom: 0;
	transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .underline {
	width: 100%;
	transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .label {
	top: -10px;
	transform: scale(1);
	transition: all 0.5s;
  }

  #get-icon, #submit, #close, #setting-close, #image-upload {
	background: var(--color-primary);
	font-family: inherit;
	font-weight: 900;
	font-size: 15px;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 0.1em 0.1em;
  }

  #get-icon:hover, #close:hover, #submit:hover, .delete-category-button:hover, .delete-button:hover, .yesButton:hover, .noButton:hover, #setting-close:hover, .upload-button:hover, #button:hover{
	transform: translate(-0.05em, -0.05em);
	box-shadow: 0.15em 0.15em;
  }

  .delete-button:hover, .delete-category-button:hover {
	background-color: rgb(255, 119, 119);
  }

  #button {
	margin-top: 5px;
  }

  .expand-image {
	width: 25px;
  }

  .delete-button, .delete-category-button, .trashButton, .noButton, .yesButton, .upload-button, #image-upload, #fileInput, #button {
	background: var(--color-primary);
	font-family: inherit;
	font-weight: 900;
	font-size: 15px;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 0.1em 0.1em;
	margin-left: 0px;
  }

  h2 >button >img {
	height: 25px;
	margin-top: 5px;
  }

  div >div >button >img {
	margin-top: 5px;
  }

  #category-dropdown {
	background: var(--color-primary);
	font-family: inherit;
	font-weight: 900;
	font-size: 15px;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 0.1em 0.1em;
	margin-left: 0px;
  }

  .popup {
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(255, 119, 119);
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 0.1em 0.1em;
  }
  
  .widget {
	width: 300px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 5px;
  }
  
  .header {
	display: flex;
	align-items: center;
  }
  
  .icon {
	width: 20px;
	height: 20px;
  }
  
  .customize-text {
	margin-left: 10px;
  }
  
  .section-title {
	font-size: 18px;
	margin-top: 20px;
  }
  
  .rounded-image {
	width: 360px;
	border-radius: 10px;
  }
  
  .upload-button {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	cursor: pointer;
  }
  
  .appearance {
	margin-top: 10px;
	padding-left: 20px;
  }

  #image-preview {
	width: 95%;
	height: 50%;
	object-fit: cover;
	border-radius: 10px;
  }

  .widget .circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	margin: 5px;
  }

:root {
  --color-text: #2b2b2b;
  --color-background: #b9c6be;
  --color-primary: #abb8c3;
  --color-secondary: #abb8c3;
}
.theme-dark {
	--color-text: #000000;
	--color-background: #4d4d4d;
	--color-primary: #B787F7;
	--color-secondary: #969696;
}
.theme-light {
	--color-text: #2b2b2b;
	--color-background: #e9e9e9;
	--color-primary: #E1E1E1;
	--color-secondary: #F7F7F7;
}
.theme-1 {
	--color-text: #2b2b2b;
	--color-background: #b9c6be;
	--color-primary: #abb8c3;
	--color-secondary: #abb8c3;
}
.theme-2 {
	--color-text: #000000;
	--color-background: #fbf6e4;
	--color-primary: #1dd3a5;
	--color-secondary: #f8ecc9;
}
.theme-3 {
	--color-text: #120603;
	--color-background: #ffffff;
	--color-primary: #1f9fc7;
	--color-secondary: #fbeae5;
}
.theme-4 {
	--color-text: #10090e;
	--color-background: #f6eff3;
	--color-primary: #975983;
	--color-secondary: #e8d8e3;
}
.theme-5 {
	--color-text: #010403;
	--color-background: #def2ec;
	--color-primary: #542965;
	--color-secondary: #f8fcfb;
}
.theme-6 {
	--color-text: #110e09;
	--color-background: #ede9de;
	--color-primary: #74653e;
	--color-secondary: #f8f6f2;
}
.theme-7 {
	--color-text: #f8d3dd;
	--color-background: #1a040a;
	--color-primary: #8cedd3;
	--color-secondary: #2c0711;
}
.theme-8 {
	--color-text: #1c1703;
	--color-background: #fffefa;
	--color-primary: #0d7d68;
	--color-secondary: #ffffff;
}
.theme-9 {
	--color-text: #010902;
	--color-background: #ffffff;
	--color-primary: #7e1073;
	--color-secondary: #e8fcea;
}
.theme-10 {
	--color-text: #030203;
	--color-background: #e9e1ea;
	--color-primary: #9b78a1;
	--color-secondary: #ded2e0;
}
.theme-11 {
	--color-text: #0a0100;
	--color-background: #fed5d2;
	--color-primary: #05bac7;
	--color-secondary: #fff1f0;
}
.theme-12 {
	--color-text: #241504;
	--color-background: #ffffff;
	--color-primary: #149f5e;
	--color-secondary: #fcf3e8;
}

  .widget .circle {
	cursor: pointer;
  }
  
  input[type="checkbox"] {
	margin-top: 10px;
  }
  
  label {
	margin-left: 5px;
  }

  .column {
	flex: 1;
	overflow-y: auto;
	margin-bottom: 100px;
  }
  
  .column-container {
	display: flex;
	height: 100vh;
	flex-direction: row;
  }
  
  .left-container {
	width: fit-content;
	float: left;
	margin-right: 10px;
  }
  
  .right-container {
	width: fit-content;
	float: right;
  }
  
  .explain {
	font-size: 11px;
  }

  .upload {
	margin-bottom: 15px;
  }

  .active {
	border: 3px solid;
	box-shadow: 0.15em 0.15em;
	border-radius: 10px;
  }

/* Styles for cellphones */
@media only screen and (max-width: 480px) and (orientation: portrait) {
	#expand-button {
		bottom: 20px;
		left: 20px;
		font-size: 40px;
	  }

	  #setting-button {
		bottom: 20px;
		right: 20px;
		font-size: 40px;
	  }

	  #categories-container {
		display: flex;
		flex-direction: column;
	  }

  }
  
  @media only screen and (max-width: 480px) and (orientation: landscape) {
	#expand-button {
		bottom: 20px;
		left: 20px;
		font-size: 20px;
	  }

	  #setting-button {
		bottom: 20px;
		right: 20px;
		font-size: 20px;
	  }

	  #input-div {
		top: 10px;
		bottom: 10px;
		overflow-y: scroll;
	  }
  }
  
  /* Styles for tablets */
  @media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
	#expand-button {
		bottom: 20px;
		left: 20px;
		font-size: 40px;
	  }

	  #setting-button {
		bottom: 20px;
		right: 20px;
		font-size: 40px;
	  }

	  #input-div {
		top: 15px;
		overflow-y: scroll;
		bottom: 10px;
		width: 70%;
		font-size: 60px;
		margin-bottom: 10px;
	  }

	  #setting-div {
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		overflow-y: scroll;
		width: fit-content;
		font-size: 60px;
	  }

	  .input {
		height: 50px;
		width: 500px;
	  }

	  #category-dropdown {
		height: 60px;
		width: 240px;
	  }

	  #close, #submit, #category-name, #name, #url, #description, #get-icon, #setting-close, #image-upload, .explain, #fileInput, #button, .section-title{
		font-size: 40px;
	  }

	  #category-dropdown {
		font-size: 35px;
		width: 400px;
	  }
	  #categories-container {
		display: flex;
		flex-direction: column;
	  }
	  .left-container {
		width: 100%;
		height: fit-content;
		max-height: 800px;
		overflow-y: scroll;
	  }
	  .right-container {
		width: 100%;
		max-height: fit-content;
		overflow-y: scroll;
	  }
	  h2 {
		font-size: 80px;
		margin-top: 10px;
		margin-bottom: 10px;
	  }
	  h1 {
		font-size: 120px;
	  }
	  .link >a {
		font-size: 50px;
	  }
	  .link >p {
		font-size: 40px;
	  }
	  .widget {
		width: 1000px;
		height: 1000px;
	  }
	  .circle-row >.theme-1, .circle-row >.theme-2, .circle-row >.theme-3, .circle-row >.theme-4, .circle-row >.theme-5, .circle-row >.theme-6, .circle-row >.theme-7, .circle-row >.theme-8, .circle-row >.theme-9, .circle-row >.theme-10, .circle-row >.theme-11, .circle-row >.theme-12 {
		width: 100px;
		height: 100px;
	  }
	  .icon {
		height: 50px;
		width: 50px;
	  }
	  .link img {
		height: 60px;
		width: 60px;
	  }
	  h2 >button >img {
		height: 50px;
		width: 50px;
	  }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
	#expand-button {
		bottom: 20px;
		left: 20px;
		font-size: 20px;
	  }

	  #setting-button {
		bottom: 20px;
		right: 20px;
		font-size: 20px;
	  }

	  #input-div {
		top: 10px;
		bottom: 10px;
		overflow-y: scroll;
	  }

	  /* NO FURTHER CHANGE */
  }

  /*computer screens */
  @media only screen and (min-width: 1025px) {
	#expand-button {
		top: 20px;
		right: 20px;
		font-size: 18px;
	  }

	  #setting-button {
		bottom: 20px;
		right: 20px;
		font-size: 18px;
	  }

	  	  /* NO FURTHER CHANGE */
  }
  
  
  
  
  